* {
    margin: 0px;
    font-family: 'karma', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    border: dotted;
}

body {
    background-color: black;
    /* to make main container look like page in photo album */
    /* padding-top: 4rem;
    padding-bottom: 4rem; */
    padding-top: 5vh;
    padding-bottom: 5vh;

}

h1 {
    /* font-size: 4rem; */
    font-size: 5vw;
    color: cornflowerblue;
}

picture{
    /* max-width: 100%;
    max-height: 100%; */
}

img {
    /* actual images sized so that all are same height but different orientations */
    max-width: 100%;
    /* max-height: 100%; */
    /* max-width: 400px; */
    /* max-height: 300px; */
    /*max-width: auto; */
    /* height: 300px; */
    /* width: auto;
    height: auto;
    object-fit: cover; */
    border-radius: 25px;
    box-shadow: 5px 5px 10px;
    /* object-fit: cover; */
    /* width: 100%; */
    /* max-height: 300px; */
}

figure {
    /* align picture and text in centre */
    text-align: center;
    /* vertical-align: top; */
    /* max-width: 23%; */
    /* object-fit: cover; */
}

p {
    font-size: 2vw;
    /* width: auto; */
    /* max-width: 100%; */
}



.pics{
    text-align: center;
    /* padding: 15px; */
}

#maincontainer {
    background-color: linen;
    /* to make main container look like page in photo album */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 25px;
}

#header {
    /* height: 5rem; */
    /* width: auto; */
    text-align: center;
}

#gallerycontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    
     /* grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-columns: repeat(4, minmax(400px, 1fr)); */
    /* grid-template-columns: repeat(4, minmax(1fr, 300px));
    grid-template-columns: repeat(4, minmax(1fr, 400px)); */
    gap: 20px;    

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

/* layout for laptops */
@media (max-width:1200px){
    /* h1{
        font-size: 3.5rem;
    }
    figcaption{
        font-size: 1.75rem; */
    /* }
    img{
        max-width: 75%;
    } */
}

/* layout for landscape tablet changes grid to two columns */
@media (max-width:992px){
    #gallerycontainer {
        grid-template-columns: repeat(2, 1fr);  
    }

    /* h1{
        font-size: 3rem;
    }

    figcaption{
        font-size: 1.5rem;
    } */
    /* img{
        max-width: 75%;
    } */
}

/* layout for portrait tablet large mobiles keeps grid two columns and HTML picture element changes to square pics */
@media (max-width:768px){
    #gallerycontainer {
        grid-template-columns: repeat(2, 1fr);  
    }

    /* h1{
        font-size: 2.5rem;
    }

    figcaption{
        font-size: 1.25rem;
    } */
}
/* layout for mobile changes grid to one column and uses square pics */
@media (max-width:500px){
    #gallerycontainer {
        grid-template-columns: repeat(1, 1fr);  
    }

    /* h1{
        font-size: 2rem;
    }

    figcaption{
        font-size: 1rem;
    } */
}