*{
    margin: 0px;
    font-family: 'karma', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    /* border: dotted; */
}
body {
    background-color: black;
    /* to make main container look like page in photo album */
    padding-top: 4rem;
    padding-bottom: 4rem;
}

h1{
    font-size: 3rem;
    color: cornflowerblue;
}

img {
    /* actual images sized so that all are same height but different orientations */
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 5px 5px 10px; 
   
}

figure{
    text-align: center;
}

figcaption{
    font-size: 1.25rem;
    width: auto;
    
}

#maincontainer {
    background-color: linen;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 25px;
}

#header {
    height: 100px;
    width: auto;
    text-align: center;
}

#gallerycontainer{
    width: 100%;
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    /* grid-template-rows: max-content max-content max-content max-content;
    grid-template-columns: max-content max-content max-content max-content;
     */
}